@page
@using Microsoft.Extensions.Localization
@using Isnet.ResourceManagement.Localization
@model Isnet.ResourceManagement.Web.Pages.ResourceManagement.IndexModel
@inject IStringLocalizer<ResourceManagementResource> L
@{
}
<h1>ResourceManagement</h1>
<p>@L["SamplePageMessage"]</p>
